# Раскомментировка этих типов, если вам нужен еще более чистый репозиторий. Но будьте осторожны.
# Это может нанести вред существующему источнику проекта. Читайте пояснения ниже.
#
# Файлы ресурсов представляют собой двоичные файлы, содержащие манифест, значок проекта и сведения о версии.
# Их нельзя рассматривать как текст или сравнивать с помощью diff-tools. Рассмотрите возможность замены их ФАЙЛАМИ .rc.
#*.res
#
# Введите файл библиотеки (двоичный). В старых версиях Delphi он должен быть сохранен.
# Начиная с Delphi 2009 он производится из файла .ridl и может быть проигнорирован.
#*.tlb
#
# Файл портфолио диаграммы. Используется редактором диаграмм вплоть до Delphi 7.
# Раскомментируете это, если вы не используете диаграммы или используете более новую версию Delphi.
#*.ddp
#
# Визуальный файл LiveBindings. Добавлено в Delphi XE2.
# Раскомментировка, если вы не используете LiveBindings Designer.
#*.vlb
#
# Файл конфигурации диспетчера развертывания для проекта. Добавлено в Delphi XE2.
# Раскомментируете это, если это не мобильная разработка и вы не используете функцию удаленной отладки.
#*.deployproj
#
# Объектные файлы C++, создаваемые при настройке создания выходных файлов C/C++.
# Раскомментикуйте это, если вы не используете внешние объекты (например, библиотеку zlib).
#*.obj
#

# Двоичные файлы, созданные компилятором Delphi (безопасно удалять)
*.exe
*.dll
*.bpl
*.bpi
*.dcp
*(с)
*.apk
*.drc
*.карта
*.dres
*.rsm
*.tds
*.dcu
*.lib
*.a
*.o
*.ocx

# Автоматически сгенерированные файлы Delphi (дублированная информация)
*.cfg
*.hpp
*Ресурс.rc

# Локальные файлы Delphi (сведения о пользователе)
*.локальный
*.identcache
*.projdata
*.tvsconfig
*.dsk

# История Delphi и резервное копирование
__history/
__recovery/
*.~*

# Статистический файл Castalia (так как XE7 Castalia распространяется с Delphi)
*.stat

# https://github.com/HashLoad/boss поставщика диспетчера зависимостей Boss
модули/
